<h1> Create a Post</h1>

<form action="/addpost" method="POST">
  Title <input type='text' name="title"><br>
  Body <textarea type='text' name='body'></textarea><br>
  Url <input type='text' name='url'>
  <input type='submit' value='submit'>
</form>


