<h1>login or signup!</h1>

<h2>login</h2>
<form action="/login" method="POST">
    Username: <input type="name" name="username" id="input">
    Password: <input type="password" name="password" id="input">
    <input type="submit" name="submit" id="submit">
</form>

<h2>signup</h2>
<form action="/signup" method="Post">
    Username: <input type="username" name="username">
    Password: <input type="password" name="password">
    <input type="submit" name="submit" id="submit">
</form>

<a href="/">home</a>
